<div class="main">
    
    <div class="top">
        <img src="../../../assets/images/br.png" alt="Logo_Bruno" style="width: 450px; display: block; margin: auto;">
    </div>
    <mat-divider color="primary"></mat-divider>
    <div class="content">
        <nav mat-tab-nav-bar>
            <a mat-tab-link routerLink="/dashboard" >Bienvenido</a>
            <a mat-tab-link routerLink="/list">Productos</a>
            <a mat-tab-link routerLink="/company">Nosotros</a>
            <a mat-tab-link routerLink="/trolley">Carrito</a>
        </nav>
        <router-outlet></router-outlet>
    </div>
</div>
<!--br>
<mat-divider></mat-divider>
<br>
<footer-- style="display: flex; align-items: center; justify-content: center;">
    <button class="btn-ft" style="background-image: url('../../../assets/icons/facebook.png'); background-size: contain;"></button>
    <button class="btn-ft" style="background-image: url('../../../assets/icons/instagram.png'); background-size: contain; background-repeat: no-repeat;"></button>
    <button class="btn-ft" style="background-image: url('../../../assets/icons/whatsapp.png'); background-size: contain;"></button>
    
</footer-->